@model Emlaksite.Models.Durum
<a href="/Tip/Satılıkilanlar/3" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kiralık <span class="caret"></span></a>
