
<option value="">Semt seç</option>
@if (ViewBag.semtlistesi != null)
            {

    foreach (var item in ViewBag.semtlistesi)
    {
        <option value="@item.Value">@item.Text</option>
    }
 }